.nav_box {
  background-color: var(--amazon-navy);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  height: 60px;
  color: white;
  /* justify-content: space-between; */
  gap: 1rem;
}
.logo_box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
  max-width: 250px;
}
.logo_box a img {
  height: 2.5rem;
  width: auto;
}
.delivery {
  display: flex;
  height: 2.5rem;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
}
.delivery_location span {
  font-size: 0.6rem;
}
.input_box {
  display: flex;
  width: 60%;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}
.input_box:focus-within {
  border: 2px solid #febd69;
}
.input_box input {
  flex: 1;
  width: 90%;
  border: none;
  outline: none;

  padding: 5px;
  font-size: 14px;
}
.input_box input::placeholder {
  padding-left: 16px;
  font-size: 14px;
}

.input_box select {
  border-radius: 10px 0 0 10px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  background: #f3f3f3;
}
.input_box select option {
  color: #000;
  background-color: #fff;
}
.select_box {
  display: flex;
  height: 2.5rem;
  align-items: center;
  /* justify-content: space-around; */
  gap: 1rem;
}
.select_box a {
  /* display: flex; */
  color: white;
  text-decoration: none;
}
.select_box img {
  height: 12px;
}
.select_box select {
  border: none;
  color: white;
  background-color: transparent;
}
.select_box select option {
  color: #000;
}
.small_text {
  font-size: 0.8rem;
}
.flag {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
.signin {
  height: 2.5rem;
}
.order {
  height: 2.5rem;
}
.order_count {
  height: 2.5rem;
}

.logo_box a:hover,
.delivery:hover,
.flag:hover,
.order_count:hover,
.order:hover,
.signin:hover {
  border: 1px solid var(--border-default);
  border-radius: 3px;
  box-shadow: inset;
}
